# Pickle of NIST-DB pristine data
nistdb.pickle

# Files sensitive to CSD Licence
step-00.csv
step-01.csv
step-02.csv
step-03.csv
step-04.csv
step-05.csv
step-06.csv
step-07.csv
step-08.csv

# Too big files for a Git repository - please contact the author at daniele.ongari@gmail.com
csd_542_mofchecker.json 
zeopp_asr_dicts.pickle
